.loginScreen {
   position: relative;
   height: 100%;
   background: url('/public/Netflix-login-bg.png') center no-repeat;
   background-size: cover;
}

.loginScreen__logo {
   position: fixed;
   left: 0;
   width: 150px;
   object-fit: contain;
   padding: 20px;
}
.loginScreen__button {
   position: fixed;
   right: 20px;
   top: 20px;
   padding: 10px 20px;
   font-size: 1rem;
   color: #fff;
   background-color: #e50914;
   font-weight: 600;
   border: none;
   cursor: pointer;
}
.loginScreen__button:hover {
   background-color: #e50914d0;
}

.loginScreen__gradient {
   width: 100%;
   z-index: 1;
   height: 100vh;
   background: rgba(0, 0, 0, 0.4);
   background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
   );
}
.loginScreen__body > h1 {
   font-size: 3.125rem;
   margin-bottom: 20px;
}
.loginScreen__body > h2 {
   font-size: 2rem;
   font-weight: 400;
   margin-bottom: 30px;
}
.loginScreen__body > h3 {
   font-size: 1.3rem;
   font-weight: 400;
}

.loginScreen__body {
   position: absolute;
   top: 25%;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   z-index: 1;
   color: #fff;
   padding: 20px;
}

.loginScreen__input {
   margin: 20px;
}
.loginScreen__input > form {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /* gap: rem; */
}
.loginScreen__input > form > input {
   outline: none;
   width: 30%;
   height: 40px;
   margin-bottom: 14px;
   border-radius: 5px;
   border: none;
   padding: 5px 15px;
}
.loginScreen__getStarted {
   width: 32.5%;
   padding: 16px 20px;
   font-size: 1rem;
   border-radius: 5px;
   color: #fff;
   background-color: #e50914;
   border: none;
   font-weight: 600;
   cursor: pointer;
}

@media screen and (width <= 768px) {
   .loginScreen__body {
      top: 15%;
   }

   .loginScreen__logo {
      width: 100px;
   }
   .loginScreen__body > h1 {
      font-size: 2.5rem;
      margin-bottom: 15px;
   }
   .loginScreen__body > h2 {
      font-size: 1.5rem;
      margin-bottom: 25px;
   }
   .loginScreen__body > h3 {
      font-size: 1rem;
   }

   .loginScreen__input > form > input {
      height: 25px;
      width: 25%;
   }
   .loginScreen__getStarted {
      font-size: 0.82rem;
   }
}
